{
  "openapi": "3.0.3",
  "info": {
    "title": "Eduframe Admin - API",
    "description": "# Overview\n\nThe Eduframe Admin API is organized around REST and is formatted in JSON. We try to keep the amount of changes to the API to a minimum but it is possible that it is changed.\n\n## Authentication\n\nFor authenticating through Eduframe Admin API v1 we use OAuth2 token. The user needs an API key to send together with the request as `Bearer <api key>` in the authorization header. If there are requests that require authentication a `403 Forbidden` error or a `404 Not Found` error will be returned.\n\n## Sorting and filtering\n\nFor sorting the data use the `sort` query parameter. Example: `api/v1/planned_courses?sort=start_date` for ascending (default) and `api/v1/planned_courses?sort=start_date:desc` for descending.\n\nFor filtering, add query parameters for the fields you want to limit. Example: `api/v1/planned_courses?min_cost=200`. Allowed filters are shown on the relevant endpoints.\n\n## Data formats\n\nIf a value is missing, it will be represented as `null`.\n\nBoolean parameters can be provided as `true`, `false`, `1`, or `0`. In responses, boolean values are always returned as `true` or `false`.\n\nTimestamps are returned in [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) format: `yyyy-MM-ddTHH:mm:ss.SSSZ`. When sending dates or times, use the same ISO 8601 format.\n\n## HTTP verbs\n\nFor each request the appropriate HTTP verbs are used. `GET` is used for retrieving resources, `POST` is used for creating resources, `PUT` is used for updated resources with partial JSON data. A PUT request can accept one or more parameters to update the resource; the parameters that are not updated keep their original values, `DELETE` is used for deleting resources.\n\n## Pagination\n\nRequests that return multiple items will be paginated to 25 items by default. You can set a custom per-page amount with the `per_page` query parameter (with a maximum of 100). Navigation to the next page can be done following the [Link header](http://tools.ietf.org/html/rfc5988). This header includes pagination information. For example: `Link: <https://api.eduframe.nl/courses?cursor=eyJpZCI6MjV9&per_page=25>; rel=\"prev\", <https://api.eduframe.nl/courses?cursor=eyJpZCI6NTB9&per_page=25>; rel=\"next\"`\n\n> **Deprecated:** Requests that return multiple items will be paginated to 25 items by default. You can select a page with the `page` query parameter. When omitted, the first page is returned by default. You can set a custom per-page amount with the `per_page` query parameter (with a maximum of 100). The [Link header](http://tools.ietf.org/html/rfc5988) includes pagination information. For example: `Link: <https://api.eduframe.nl/courses?page=3&per_page=100>; rel=\"next\", <https://api.eduframe.nl/courses?page=50&per_page=100>; rel=\"last\"`\n\n## Errors\n\nIn the Eduframe Admin API the general codes are: the `2xx` range indicates a successful request; the `4xx` range indicates an error representing the failure of giving the provided information (e.g. a required parameter was omitted, a certain include/filter is not allowed, unauthorized access, etc.); the `5xx` range indicates an error with the Eduframe's servers.\n\n\n## Rate limits\n\nTo protect platform stability and ensure fair usage, Eduframe Admin APIs enforce rate limits. Use standard techniques — client-side throttling, caching, and responsible retries — to avoid being throttled.\n\n### Limits\n\n* **Per IP address:** 500 requests per 5-minute window.\n  Requests authenticated with a valid access token are **exempt** from the per-IP limit.\n* **Per access token (Bearer):** 500 requests per 5-minute window.\n  * If the token belongs to an OAuth application, the limit applies **per application**.\n  * Otherwise, the limit applies **per token**.\n\n### When a limit is exceeded\n\nWhen a client exceeds a limit, the API returns **`429 Too Many Requests`**. The response includes a `Retry-After` header telling you how many seconds to wait before retrying.\n\n### Best practices\n\nTo avoid hitting limits and improve performance:\n\n* **Authenticate requests** whenever possible (bypasses the per-IP limit).\n* **Avoid unnecessary requests** by caching responses client-side, so the same resource isn’t repeatedly requested.\n* **De-duplicate requests** to prevent sending the same call multiple times.\n  Example: if three `planned_courses` reference the same `course_id`, fetch `/courses/{id}` once and reuse the result instead of calling it three times.\n* **Use webhooks** instead of frequent polling for updates.\n* **Optimize pagination** on index endpoints by setting `per_page=100` to reduce the number of requests needed.\n\n## Webhooks\n\nWebhooks allow you to build or set up integrations, such as Azure Logic Apps, which subscribe to certain events on Eduframe. When one of those events is triggered, we will send a HTTP POST payload to the webhook's configured URL. More info can be found at the webhooks documentation. Eduframe has a 10-second timeout for each webhook sent, which means you want to make sure you have returned a response before this time limit elapses. If traffic spikes and you don't respond quickly, you begin to accumulate a backlog of webhooks and may start dropping some.\n\n## Feature flags\n\nSome of our API endpoints and/or attributes require a specific feature flag to be enabled for your Eduframe environment before it can be used. For instance, to be able to make a request to the endpoint `GET /program/editions`, the `programs` feature flag needs to be enabled.\n\nEndpoints and attributes that rely on a feature flag are marked with a badge, for example:\n\n![Program](https://img.shields.io/badge/Feature-Programs-1d8127)\n\nBelow you can find a table with further information about each feature flag:\n\n<table>\n  <thead>\n    <tr>\n      <th>Feature Flag</th>\n      <th>Description</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <td>Programs</td>\n      <td><a href=\"https://drieam.freshdesk.com/a/solutions/articles/101000432829#What-are-program-templates-and-editions?\">Programs</a> and all program functionality</td>\n    </tr>\n    <tr>\n      <td>Custom objects</td>\n      <td>Create custom objects and records</td>\n    </tr>\n    <tr>\n      <td>Teacher roles</td>\n      <td>Manage and assign teacher roles to teacher enrollments</td>\n    </tr>\n    <tr>\n      <td>Organizations</td>\n      <td><a href=\"https://drieam.freshdesk.com/support/solutions/articles/101000550549-in-testing-phase-reducing-duplicate-organizations\">Improvements</a> to the B2B order flow</td>\n    </tr>\n    <!-- Add more rows as needed -->\n  </tbody>\n</table>\n\nDo you have a question about any of the feature flags? Reach out to our [support department](mailto:support@eduframe.nl).\n",
    "version": "v1"
  },
  "servers": [
    {
      "url": "https://api.eduframe.nl/api/v1"
    }
  ],
  "security": [
    {
      "Bearer": []
    }
  ],
  "tags": [
    {
      "name": "accounts",
      "description": ""
    },
    {
      "name": "affiliations",
      "description": ""
    },
    {
      "name": "attendances",
      "description": ""
    },
    {
      "name": "authentications",
      "description": ""
    },
    {
      "name": "catalog-products",
      "description": ""
    },
    {
      "name": "catalog-variants",
      "description": ""
    },
    {
      "name": "categories",
      "description": ""
    },
    {
      "name": "certificates",
      "description": ""
    },
    {
      "name": "comments",
      "description": ""
    },
    {
      "name": "course_locations",
      "description": ""
    },
    {
      "name": "course_tabs",
      "description": ""
    },
    {
      "name": "course_variants",
      "description": ""
    },
    {
      "name": "courses",
      "description": ""
    },
    {
      "name": "credit_categories",
      "description": ""
    },
    {
      "name": "credits",
      "description": ""
    },
    {
      "name": "custom_associations",
      "description": ""
    },
    {
      "name": "custom_field_options",
      "description": ""
    },
    {
      "name": "custom_objects",
      "description": ""
    },
    {
      "name": "custom_records",
      "description": ""
    },
    {
      "name": "discount_codes",
      "description": ""
    },
    {
      "name": "educators",
      "description": ""
    },
    {
      "name": "emails",
      "description": ""
    },
    {
      "name": "enrollments",
      "description": ""
    },
    {
      "name": "grades",
      "description": ""
    },
    {
      "name": "invoice_vats",
      "description": ""
    },
    {
      "name": "invoices",
      "description": ""
    },
    {
      "name": "labels",
      "description": ""
    },
    {
      "name": "leads",
      "description": ""
    },
    {
      "name": "material_groups",
      "description": ""
    },
    {
      "name": "materials",
      "description": ""
    },
    {
      "name": "meeting_locations",
      "description": ""
    },
    {
      "name": "meetings",
      "description": ""
    },
    {
      "name": "orders",
      "description": ""
    },
    {
      "name": "organizations",
      "description": ""
    },
    {
      "name": "payment_methods",
      "description": ""
    },
    {
      "name": "payment_options",
      "description": ""
    },
    {
      "name": "payments",
      "description": ""
    },
    {
      "name": "planned_courses",
      "description": ""
    },
    {
      "name": "planning-attendees",
      "description": ""
    },
    {
      "name": "planning-conflicts",
      "description": ""
    },
    {
      "name": "planning-events",
      "description": ""
    },
    {
      "name": "planning-locations",
      "description": ""
    },
    {
      "name": "planning-materials",
      "description": ""
    },
    {
      "name": "planning-required-teacher-group-attendees",
      "description": ""
    },
    {
      "name": "planning-teachers",
      "description": ""
    },
    {
      "name": "program-editions",
      "description": ""
    },
    {
      "name": "program-elements",
      "description": ""
    },
    {
      "name": "program-enrollments",
      "description": ""
    },
    {
      "name": "program-personal-program-elements",
      "description": ""
    },
    {
      "name": "program-programs",
      "description": ""
    },
    {
      "name": "referrals",
      "description": ""
    },
    {
      "name": "signup_questions",
      "description": ""
    },
    {
      "name": "tasks",
      "description": ""
    },
    {
      "name": "teacher_enrollments",
      "description": ""
    },
    {
      "name": "teacher_roles",
      "description": ""
    },
    {
      "name": "teachers",
      "description": ""
    },
    {
      "name": "theses",
      "description": ""
    },
    {
      "name": "users",
      "description": ""
    },
    {
      "name": "webhook-notifications",
      "description": ""
    },
    {
      "name": "webhooks",
      "description": "\n<h4 id=\"label-Setup\">Setup<span><a href=\"#label-Setup\">&para;</a> <a href=\"#top\">&uarr;</a></span></h4>\n\n<p>To setup a webhook, you can create one through the API or go to the admin setting to use the UI.</p>\n\n<h4 id=\"label-Webhook+Return+Payload\">Webhook Return Payload<span><a href=\"#label-Webhook+Return+Payload\">&para;</a> <a href=\"#top\">&uarr;</a></span></h4>\n\n<p>An example payload for approving an order would look something like this:</p>\n\n<pre>{\n  &quot;tenant_id&quot;: &quot;uuid&quot;                 // UUID of the tenant\n  &quot;educator&quot;: &quot;some-subdomain&quot;,       // Subdomain of the educator\n  &quot;event&quot;: &quot;account.updated&quot;          // Event that triggered the webhook\n  &quot;event_data&quot;: &quot;Account&quot;,            // Event-specific data\n}</pre>\n\n<p>The Open API format of these payloads:</p>\n\n<pre class=\"ruby\">{\n  <span class=\"ruby-value\">&quot;tenant_id&quot;:</span> {\n    <span class=\"ruby-value\">&quot;type&quot;:</span> <span class=\"ruby-string\">&quot;string&quot;</span>\n  },\n  <span class=\"ruby-value\">&quot;educator&quot;:</span> {\n    <span class=\"ruby-value\">&quot;type&quot;:</span> <span class=\"ruby-string\">&quot;string&quot;</span>\n  },\n  <span class=\"ruby-value\">&quot;event&quot;:</span> {\n    <span class=\"ruby-value\">&quot;type&quot;:</span> <span class=\"ruby-string\">&quot;string&quot;</span>\n  },\n  <span class=\"ruby-value\">&quot;event_data&quot;:</span> {\n    <span class=\"ruby-value\">&quot;type&quot;:</span> <span class=\"ruby-string\">&quot;object&quot;</span>\n  }\n}\n</pre>\n"
    }
  ],
  "paths": {
    "/accounts": {
      "get": {
        "tags": [
          "accounts"
        ],
        "summary": "Get all accounts",
        "operationId": "get_accounts",
        "security": [
          {
            "Bearer": [
              "relations:read"
            ]
          }
        ],
        "parameters": [
          {
            "name": "search",
            "in": "query",
            "description": "Filter results on search",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "key_contact_user_id",
            "in": "query",
            "description": "Filter results on key_contact_user_id",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "user_id",
            "in": "query",
            "description": "Filter results on user_id",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "account_type",
            "in": "query",
            "description": "Filter results on account_type",
            "schema": {
              "$ref": "#/components/schemas/AccountType"
            }
          },
          {
            "$ref": "#/components/parameters/Cursor"
          },
          {
            "$ref": "#/components/parameters/PerPage"
          },
          {
            "$ref": "#/components/parameters/Page"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AccountWithIncludes"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "post": {
        "tags": [
          "accounts"
        ],
        "summary": "Create an account",
        "operationId": "create_account",
        "security": [
          {
            "Bearer": [
              "relations:modify"
            ]
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "name"
                ],
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "Arbitrary string representing the name of the account. Is autogenerated for personal accounts."
                  },
                  "email": {
                    "type": "string",
                    "nullable": true,
                    "format": "email",
                    "description": "A string representing the billing e-mail of the account"
                  },
                  "phone": {
                    "type": "string",
                    "description": "A string representing the phone number of the account",
                    "nullable": true
                  },
                  "label_ids": {
                    "type": "array",
                    "description": "IDs of the labels",
                    "items": {
                      "type": "integer"
                    }
                  },
                  "custom": {
                    "type": "object",
                    "properties": {},
                    "description": "The custom properties of the account."
                  },
                  "address_attributes": {
                    "$ref": "#/components/schemas/AddressPayload"
                  },
                  "signup_answers_attributes": {
                    "type": "array",
                    "items": {
                      "required": [
                        "signup_question_id",
                        "value"
                      ],
                      "type": "object",
                      "properties": {
                        "signup_question_id": {
                          "type": "integer",
                          "description": "Unique identifier of the question."
                        },
                        "value": {
                          "anyOf": [
                            {
                              "type": "string",
                              "nullable": true
                            },
                            {
                              "type": "boolean"
                            },
                            {
                              "type": "array",
                              "items": {
                                "type": "string"
                              }
                            }
                          ],
                          "description": "The formatted value of the answer."
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountWithIncludes"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/accounts/{id}": {
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "integer"
          }
        }
      ],
      "get": {
        "tags": [
          "accounts"
        ],
        "summary": "Get a single account",
        "operationId": "get_account_by_id",
        "security": [
          {
            "Bearer": [
              "relations:read"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountWithIncludes"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "patch": {
        "tags": [
          "accounts"
        ],
        "summary": "Update an account",
        "operationId": "update_account",
        "security": [
          {
            "Bearer": [
              "relations:modify"
            ]
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "name"
                ],
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "Arbitrary string representing the name of the account. Is autogenerated for personal accounts."
                  },
                  "email": {
                    "type": "string",
                    "nullable": true,
                    "format": "email",
                    "description": "A string representing the billing e-mail of the account"
                  },
                  "phone": {
                    "type": "string",
                    "description": "A string representing the phone number of the account",
                    "nullable": true
                  },
                  "label_ids": {
                    "type": "array",
                    "description": "IDs of the labels",
                    "items": {
                      "type": "integer"
                    }
                  },
                  "custom": {
                    "type": "object",
                    "properties": {},
                    "description": "The custom properties of the account."
                  },
                  "address_attributes": {
                    "$ref": "#/components/schemas/AddressPayload"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountWithIncludes"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/affiliations": {
      "get": {
        "tags": [
          "affiliations"
        ],
        "summary": "Get all affiliations",
        "operationId": "get_affiliations",
        "deprecated": true,
        "security": [
          {
            "Bearer": [
              "relations:read"
            ]
          }
        ],
        "parameters": [
          {
            "name": "user_id",
            "in": "query",
            "description": "Filter results on user_id",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "account_id",
            "in": "query",
            "description": "Filter results on account_id",
            "schema": {
              "type": "integer"
            }
          },
          {
            "$ref": "#/components/parameters/Cursor"
          },
          {
            "$ref": "#/components/parameters/PerPage"
          },
          {
            "$ref": "#/components/parameters/Page"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Affiliation"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "post": {
        "tags": [
          "affiliations"
        ],
        "summary": "Create an affiliation affiliations",
        "operationId": "create_affiliation",
        "deprecated": true,
        "security": [
          {
            "Bearer": [
              "relations:modify"
            ]
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "account_id",
                  "user_id"
                ],
                "type": "object",
                "properties": {
                  "user_id": {
                    "type": "integer",
                    "description": "Unique identifier of the associated user"
                  },
                  "account_id": {
                    "type": "integer",
                    "description": "Unique identifier of the associated account"
                  },
                  "key_contact": {
                    "type": "boolean",
                    "default": false,
                    "description": "Boolean indicating if this user is a key contact of the account."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Affiliation"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/affiliations/{id}": {
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "integer"
          }
        }
      ],
      "delete": {
        "tags": [
          "affiliations"
        ],
        "summary": "Delete an affiliation",
        "operationId": "delete_affiliation_by_id",
        "deprecated": true,
        "security": [
          {
            "Bearer": [
              "relations:destroy"
            ]
          }
        ],
        "responses": {
          "204": {
            "$ref": "#/components/responses/NoContent"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "patch": {
        "tags": [
          "affiliations"
        ],
        "summary": "Update an affiliation.",
        "operationId": "update_affiliation_by_id",
        "deprecated": true,
        "security": [
          {
            "Bearer": [
              "relations:modify"
            ]
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "key_contact": {
                    "type": "boolean",
                    "description": "Boolean indicating if this user is a key contact of the account."
                  },
                  "user_id": {
                    "type": "integer",
                    "description": "Unique identifier of the associated user"
                  },
                  "account_id": {
                    "type": "integer",
                    "description": "Unique identifier of the associated account"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Affiliation"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/attendances": {
      "get": {
        "tags": [
          "attendances"
        ],
        "summary": "Get all attendance records",
        "operationId": "get_attendances",
        "security": [
          {
            "Bearer": [
              "enrollments:read"
            ]
          }
        ],
        "parameters": [
          {
            "name": "meeting_id",
            "in": "query",
            "description": "Filter attendances on meeting_id",
            "schema": {
              "type": "integer"
            }
          },
          {
            "$ref": "#/components/parameters/Cursor"
          },
          {
            "$ref": "#/components/parameters/PerPage"
          },
          {
            "$ref": "#/components/parameters/Page"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Attendance"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/attendances/upsert": {
      "post": {
        "tags": [
          "attendances"
        ],
        "summary": "Set an attendance.",
        "operationId": "set_attendance",
        "security": [
          {
            "Bearer": [
              "enrollments:modify"
            ]
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "meeting_id",
                  "enrollment_id"
                ],
                "properties": {
                  "meeting_id": {
                    "type": "integer",
                    "description": "Unique identifier of the meeting."
                  },
                  "enrollment_id": {
                    "type": "integer",
                    "description": "Unique identifier of the enrollment."
                  },
                  "state": {
                    "$ref": "#/components/schemas/AttendanceState"
                  },
                  "comment": {
                    "type": "string",
                    "nullable": true,
                    "description": "Comment about this attendance."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Attendance"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/authentications": {
      "post": {
        "tags": [
          "authentications"
        ],
        "summary": "Create an authentication.",
        "operationId": "create_authentication",
        "security": [
          {
            "Bearer": [
              "authentications:modify"
            ]
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "uid",
                  "user_id",
                  "authentication_provider_type"
                ],
                "type": "object",
                "properties": {
                  "uid": {
                    "type": "string",
                    "description": "Login identifier."
                  },
                  "user_id": {
                    "type": "integer",
                    "description": "Identifier of the associated User."
                  },
                  "authentication_provider_type": {
                    "$ref": "#/components/schemas/AuthenticationProviderType"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Authentication"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/catalog/products": {
      "get": {
        "tags": [
          "catalog-products"
        ],
        "summary": "Get all catalog products",
        "operationId": "get_catalog_products",
        "security": [
          {
            "Bearer": [
              "courses:read"
            ]
          }
        ],
        "parameters": [
          {
            "name": "published",
            "in": "query",
            "description": "Show only published products",
            "schema": {
              "type": "string",
              "enum": [
                "published"
              ]
            }
          },
          {
            "name": "category_id",
            "in": "query",
            "description": "Filter results on category_id",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "productable_type",
            "in": "query",
            "description": "Filter results on productable_type",
            "schema": {
              "type": "string",
              "enum": [
                "Course",
                "Program::Program"
              ]
            }
          },
          {
            "name": "search",
            "in": "query",
            "description": "Filter results on search",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sort the results. Can change order by using `<sort_by>:<direction>` where `<direction>` is either `asc` or `desc`",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "id:asc",
                  "id:desc",
                  "position:asc",
                  "position:desc"
                ]
              }
            }
          },
          {
            "$ref": "#/components/parameters/Cursor"
          },
          {
            "$ref": "#/components/parameters/PerPage"
          },
          {
            "$ref": "#/components/parameters/Page"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ProductWithIncludes"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/catalog/products/{id}": {
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "integer"
          }
        }
      ],
      "get": {
        "tags": [
          "catalog-products"
        ],
        "summary": "Get a catalog product record",
        "operationId": "get_catalog_product_by_id",
        "security": [
          {
            "Bearer": [
              "courses:read"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProductWithIncludes"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "patch": {
        "tags": [
          "catalog-products"
        ],
        "summary": "Update a catalog product",
        "operationId": "update_catalog_product_by_id",
        "security": [
          {
            "Bearer": [
              "courses:modify"
            ]
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "category_id": {
                    "type": "integer",
                    "description": "Identifier of the category of the course."
                  },
                  "is_published": {
                    "type": "boolean",
                    "description": "Boolean showing if the product is published or not."
                  },
                  "custom": {
                    "type": "object",
                    "properties": {},
                    "description": "The custom properties of the product."
                  },
                  "course_tab_contents_attributes": {
                    "type": "array",
                    "items": {
                      "required": [
                        "content",
                        "course_tab_id",
                        "id"
                      ],
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "integer",
                          "description": "Unique identifier of the course tab content."
                        },
                        "content": {
                          "type": "string",
                          "description": "The HTML content of the course tab.",
                          "nullable": true
                        },
                        "course_tab_id": {
                          "type": "integer",
                          "description": "Unique identifier of the course tab."
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProductWithIncludes"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/catalog/variants": {
      "get": {
        "tags": [
          "catalog-variants"
        ],
        "summary": "Get all catalog variants",
        "operationId": "get_catalog_variants",
        "security": [
          {
            "Bearer": [
              "courses:read"
            ]
          }
        ],
        "parameters": [
          {
            "name": "published_public",
            "in": "query",
            "description": "Only show published variants and planned_courses that are either planned or in progress",
            "schema": {
              "type": "string",
              "enum": [
                "published_public"
              ]
            }
          },
          {
            "name": "product_id",
            "in": "query",
            "description": "Filter results on product_id",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "variantable_id",
            "in": "query",
            "description": "Filter results on variantable_id",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "variantable_type",
            "in": "query",
            "description": "Filter results on variantable_type",
            "schema": {
              "type": "string",
              "enum": [
                "planned_course",
                "program_edition"
              ]
            }
          },
          {
            "$ref": "#/components/parameters/Cursor"
          },
          {
            "$ref": "#/components/parameters/PerPage"
          },
          {
            "$ref": "#/components/parameters/Page"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/VariantWithIncludes"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/catalog/variants/{id}": {
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "integer"
          }
        }
      ],
      "get": {
        "tags": [
          "catalog-variants"
        ],
        "summary": "Get a catalog variant record",
        "operationId": "get_catalog_variant_by_id",
        "security": [
          {
            "Bearer": [
              "courses:read"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VariantWithIncludes"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "patch": {
        "tags": [
          "catalog-variants"
        ],
        "summary": "Update a catalog variant",
        "operationId": "update_catalog_variant_by_id",
        "security": [
          {
            "Bearer": [
              "courses:modify",
              "courses:read"
            ]
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "is_published": {
                    "type": "boolean",
                    "description": "Boolean showing if the variant is published or not."
                  },
                  "edition_description_section_contents_attributes": {
                    "type": "array",
                    "description": "Array of edition description section contents to update.\n\n![ Edition description sections ](https://img.shields.io/badge/Feature-Edition_description_sections-1d8127)\n![Beta](https://img.shields.io/badge/Beta-7d15a3)\n",
                    "items": {
                      "required": [
                        "content",
                        "edition_description_section_id"
                      ],
                      "type": "object",
                      "properties": {
                        "content": {
                          "type": "string",
                          "description": "The content of the edition description section.",
                          "nullable": true
                        },
                        "edition_description_section_id": {
                          "type": "integer",
                          "description": "Identifier of the edition description section."
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VariantWithIncludes"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/categories": {
      "get": {
        "tags": [
          "categories"
        ],
        "summary": "Get all category records",
        "operationId": "get_categories",
        "security": [
          {
            "Bearer": [
              "courses:read"
            ]
          }
        ],
        "parameters": [
          {
            "name": "published",
            "in": "query",
            "description": "Show only published categories",
            "schema": {
              "type": "string",
              "enum": [
                "published"
              ]
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sort the results. Can change order by using `<sort_by>:<direction>` where `<direction>` is either `asc` or `desc`",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "position:asc",
                  "position:desc"
                ]
              }
            }
          },
          {
            "$ref": "#/components/parameters/Cursor"
          },
          {
            "$ref": "#/components/parameters/PerPage"
          },
          {
            "$ref": "#/components/parameters/Page"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Category"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "post": {
        "tags": [
          "categories"
        ],
        "summary": "Create a category.",
        "operationId": "create_category",
        "security": [
          {
            "Bearer": [
              "courses:modify"
            ]
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "name"
                ],
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "Title of the category."
                  },
                  "description": {
                    "type": "string",
                    "description": "The description of the category.",
                    "nullable": true
                  },
                  "is_published": {
                    "type": "boolean",
                    "description": "Boolean if the category is published on the website."
                  },
                  "meta_title": {
                    "type": "string",
                    "deprecated": true,
                    "description": "The meta title of the category, used for SEO (Search Engine Optimisation) purposes.",
                    "nullable": true
                  },
                  "meta_description": {
                    "type": "string",
                    "deprecated": true,
                    "description": "The meta description of the category, used for SEO (Search Engine Optimisation) purposes.",
                    "nullable": true
                  },
                  "parent_id": {
                    "type": "integer",
                    "description": "Unique identifier of the parent category",
                    "nullable": true
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Category"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/categories/{id}": {
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "integer"
          }
        }
      ],
      "get": {
        "tags": [
          "categories"
        ],
        "summary": "Get a category record",
        "operationId": "get_category_by_id",
        "security": [
          {
            "Bearer": [
              "courses:read"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Category"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "patch": {
        "tags": [
          "categories"
        ],
        "summary": "Update a category.",
        "operationId": "update_category_by_id",
        "security": [
          {
            "Bearer": [
              "courses:modify"
            ]
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "Title of the category."
                  },
                  "slug": {
                    "type": "string",
                    "description": "Friendly identifier of a category."
                  },
                  "description": {
                    "type": "string",
                    "description": "The description of the category.",
                    "nullable": true
                  },
                  "is_published": {
                    "type": "boolean",
                    "description": "Boolean if the category is published on the website."
                  },
                  "meta_title": {
                    "type": "string",
                    "deprecated": true,
                    "description": "The meta title of the category, used for SEO (Search Engine Optimisation) purposes.",
                    "nullable": true
                  },
                  "meta_description": {
                    "type": "string",
                    "deprecated": true,
                    "description": "The meta description of the category, used for SEO (Search Engine Optimisation) purposes.",
                    "nullable": true
                  },
                  "parent_id": {
                    "type": "integer",
                    "nullable": true,
                    "description": "Unique identifier of the parent category"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Category"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/certificates": {
      "get": {
        "tags": [
          "certificates"
        ],
        "summary": "Get all awarded certificates",
        "x-badges": [
          {
            "name": "Beta",
            "color": "#7d15a3",
            "position": "after"
          }
        ],
        "operationId": "get_certificates",
        "security": [
          {
            "Bearer": [
              "enrollments:read"
            ]
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/Cursor"
          },
          {
            "$ref": "#/components/parameters/PerPage"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Certificate"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/certificates/{id}": {
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "integer"
          }
        }
      ],
      "get": {
        "tags": [
          "certificates"
        ],
        "summary": "Get an awarded certificate",
        "x-badges": [
          {
            "name": "Beta",
            "color": "#7d15a3",
            "position": "after"
          }
        ],
        "operationId": "get_certificate_by_id",
        "security": [
          {
            "Bearer": [
              "enrollments:read"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Certificate"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/comments": {
      "post": {
        "tags": [
          "comments"
        ],
        "summary": "Create a comment.",
        "operationId": "create_comment",
        "security": [
          {
            "Bearer": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "commentable_id",
                  "commentable_type",
                  "content"
                ],
                "type": "object",
                "properties": {
                  "content": {
                    "type": "string",
                    "description": "A string representing the content of a comment."
                  },
                  "commentable_id": {
                    "type": "integer",
                    "description": "Identifier of the subject the comment is linked to."
                  },
                  "commentable_type": {
                    "description": "Type of the subject the comment is linked to.",
                    "$ref": "#/components/schemas/CommentType"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Comment"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/comments/{id}": {
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "integer"
          }
        }
      ],
      "delete": {
        "tags": [
          "comments"
        ],
        "summary": "Delete a comment.",
        "operationId": "delete_comment_by_id",
        "security": [
          {
            "Bearer": []
          }
        ],
        "responses": {
          "204": {
            "$ref": "#/components/responses/NoContent"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "patch": {
        "tags": [
          "comments"
        ],
        "summary": "Update a comment.",
        "operationId": "update_comment_by_id",
        "security": [
          {
            "Bearer": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "content": {
                    "type": "string",
                    "description": "A string representing the content of a comment."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Comment"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/course_locations": {
      "get": {
        "tags": [
          "course_locations"
        ],
        "summary": "Get all course location records",
        "operationId": "get_course_locations",
        "security": [
          {
            "Bearer": [
              "settings:read"
            ]
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/Cursor"
          },
          {
            "$ref": "#/components/parameters/PerPage"
          },
          {
            "$ref": "#/components/parameters/Page"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CourseLocationWithIncludes"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "post": {
        "tags": [
          "course_locations"
        ],
        "summary": "Create a course location.",
        "operationId": "create_course_location",
        "security": [
          {
            "Bearer": [
              "settings:modify"
            ]
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "name"
                ],
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "Name of the location where the course is held."
                  },
                  "address_attributes": {
                    "$ref": "#/components/schemas/AddressPayload"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CourseLocationWithIncludes"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/course_locations/{id}": {
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "integer"
          }
        }
      ],
      "get": {
        "tags": [
          "course_locations"
        ],
        "summary": "Get a course location record",
        "operationId": "get_course_location_by_id",
        "security": [
          {
            "Bearer": [
              "settings:read"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CourseLocationWithIncludes"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "delete": {
        "tags": [
          "course_locations"
        ],
        "summary": "Delete a course location.",
        "operationId": "delete_course_location_by_id",
        "security": [
          {
            "Bearer": [
              "destroyable_settings:destroy"
            ]
          }
        ],
        "responses": {
          "204": {
            "$ref": "#/components/responses/NoContent"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "patch": {
        "tags": [
          "course_locations"
        ],
        "summary": "Update a course location.",
        "operationId": "update_course_location_by_id",
        "security": [
          {
            "Bearer": [
              "settings:modify"
            ]
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "Name of the location where the course is held."
                  },
                  "address_attributes": {
                    "$ref": "#/components/schemas/AddressPatchPayload"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CourseLocationWithIncludes"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/course_tabs": {
      "get": {
        "tags": [
          "course_tabs"
        ],
        "summary": "Get all course tab records",
        "operationId": "get_course_tabs",
        "security": [
          {
            "Bearer": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/Cursor"
          },
          {
            "$ref": "#/components/parameters/PerPage"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CourseTab"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/course_variants": {
      "get": {
        "tags": [
          "course_variants"
        ],
        "summary": "Get all course variant records",
        "operationId": "get_course_variants",
        "security": [
          {
            "Bearer": [
              "settings:read"
            ]
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/Cursor"
          },
          {
            "$ref": "#/components/parameters/PerPage"
          },
          {
            "$ref": "#/components/parameters/Page"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CourseVariant"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "post": {
        "tags": [
          "course_variants"
        ],
        "summary": "Create a course variant",
        "operationId": "create_course_variant",
        "security": [
          {
            "Bearer": [
              "settings:modify",
              "settings:read"
            ]
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "name"
                ],
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "The name of the course variant."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CourseVariant"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/course_variants/{id}": {
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "integer"
          }
        }
      ],
      "get": {
        "tags": [
          "course_variants"
        ],
        "summary": "Get a course variant record",
        "operationId": "get_course_variant_by_id",
        "security": [
          {
            "Bearer": [
              "settings:read"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CourseVariant"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/courses": {
      "get": {
        "tags": [
          "courses"
        ],
        "summary": "Get all course records",
        "operationId": "get_courses",
        "security": [
          {
            "Bearer": [
              "courses:read"
            ]
          }
        ],
        "parameters": [
          {
            "name": "published",
            "in": "query",
            "description": "Show only published courses",
            "schema": {
              "type": "string",
              "enum": [
                "published"
              ]
            }
          },
          {
            "name": "id",
            "deprecated": true,
            "in": "query",
            "description": "Filter results on id",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "integer"
              }
            }
          },
          {
            "$ref": "#/components/parameters/Cursor"
          },
          {
            "$ref": "#/components/parameters/PerPage"
          },
          {
            "$ref": "#/components/parameters/Page"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CourseWithIncludes"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "post": {
        "tags": [
          "courses"
        ],
        "summary": "Create a course.",
        "operationId": "create_course",
        "security": [
          {
            "Bearer": [
              "courses:modify",
              "courses:read"
            ]
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CoursePayload"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CourseWithIncludes"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/courses/{id}": {
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "integer"
          }
        }
      ],
      "get": {
        "tags": [
          "courses"
        ],
        "summary": "Get a course record",
        "operationId": "get_course_by_id",
        "security": [
          {
            "Bearer": [
              "courses:read"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CourseWithIncludes"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "patch": {
        "tags": [
          "courses"
        ],
        "summary": "Update a course.",
        "operationId": "update_course_by_id",
        "security": [
          {
            "Bearer": [
              "courses:modify",
              "courses:read"
            ]
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CoursePatchPayload"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CourseWithIncludes"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/courses/{course_id}/planned_courses": {
      "parameters": [
        {
          "name": "course_id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "integer"
          }
        }
      ],
      "get": {
        "tags": [
          "planned_courses"
        ],
        "summary": "Get all planned course records of a single course",
        "operationId": "get_planned_courses_by_course_id",
        "security": [
          {
            "Bearer": [
              "courses:read"
            ]
          }
        ],
        "parameters": [
          {
            "name": "search",
            "in": "query",
            "description": "Filter results on search",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "type",
            "in": "query",
            "description": "Filter results on type",
            "schema": {
              "type": "string",
              "enum": [
                "FixedPlannedCourse",
                "FlexiblePlannedCourse"
              ]
            }
          },
          {
            "name": "parents_published",
            "in": "query",
            "description": "Filter results on parents_published",
            "schema": {
              "type": "string",
              "enum": [
                "parents_published"
              ]
            }
          },
          {
            "name": "published_public",
            "in": "query",
            "description": "Only show courses that are published and are either planned or in progress",
            "schema": {
              "type": "string",
              "enum": [
                "published_public"
              ]
            }
          },
          {
            "name": "start_date_from",
            "in": "query",
            "description": "Filter results on start_date_from",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "start_date_until",
            "in": "query",
            "description": "Filter results on start_date_until",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "availability_state",
            "in": "query",
            "description": "Filter results on availability_state",
            "schema": {
              "$ref": "#/components/schemas/AvailabilityState"
            }
          },
          {
            "name": "id",
            "deprecated": true,
            "in": "query",
            "description": "Filter results on id",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "integer"
              }
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "Filter results on status",
            "style": "form",
            "explode": true,
            "schema": {
              "$ref": "#/components/schemas/PlannedCourseStatus"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sort the results. Can change order by using `<sort_by>:<direction>` where `<direction>` is either `asc` or `desc`",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "start_date:asc",
                  "start_date:desc"
                ]
              }
            }
          },
          {
            "$ref": "#/components/parameters/Cursor"
          },
          {
            "$ref": "#/components/parameters/PerPage"
          },
          {
            "$ref": "#/components/parameters/Page"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PlannedCourseWithIncludes"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/courses/{course_id}/planned_courses/{id}": {
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "integer"
          }
        },
        {
          "name": "course_id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "integer"
          }
        }
      ],
      "get": {
        "tags": [
          "planned_courses"
        ],
        "summary": "Get a planned course record of a single course",
        "operationId": "get_planned_courses_by_id_and_course_id",
        "security": [
          {
            "Bearer": [
              "courses:read"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlannedCourseWithIncludes"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/credit_categories": {
      "get": {
        "tags": [
          "credit_categories"
        ],
        "summary": "Get all credit category records",
        "operationId": "get_credit_categories",
        "security": [
          {
            "Bearer": [
              "settings:read"
            ]
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/Cursor"
          },
          {
            "$ref": "#/components/parameters/PerPage"
          },
          {
            "$ref": "#/components/parameters/Page"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CreditCategoryWithIncludes"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/credits": {
      "get": {
        "tags": [
          "credits"
        ],
[...]
